
button {
    background: none!important;
    color: inherit;
    border: 1px blue;
    padding: 0!important;
    font: inherit;
    cursor: pointer;
}

button:hover {
    border-bottom: 1px solid #444;
}

.container{
    display:flex;
}
.container:nth-child(2){
    background-color: red;
}